.container {
  background-color: white;
  height: 80vh;
}

.container h1 {
  font-family: "cheeseburga";
  font-weight: 400;
  font-size: 9rem;
  color: #ffa800;
  text-align: center;
}

.carausel{
  width: 100%;
  position: relative;
  padding-inline: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  width: 90%;
  z-index: 50;
  position: absolute;
  top: 0rem;

}

.card{
  height: 40rem;
  width: 100%;
}

.card:focus{
  outline: none
}

.sliderItem{
  height: 100%;
  width: 100%;

}

.sliderItem img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
